header Tower of Hanoi
	.container.rules
		ul
			li Move all the pieces from Tower 1 to Tower 3
			li You may not place a larger piece on top of a smaller piece

.controls
	form#form
		input(placeholder='# of discs' type='text' id='discQty')
		button.setDifficulty set difficulty

.container#gameboard
	.row
		.container.towerContainer
			.tower#towerOne
				//- .discs#discOne
				//- .discs#discTwo
				//- .discs#discThree
		.container.towerContainer
			.tower#towerTwo
		.container.towerContainer
			.tower#towerThree

.container
	.row
		.buttonHouse
			.moveControls
			.moveControls
				button.right >
				button.end >>
			.moveControls
				button.start <
				button.end >
			.moveControls
				button.start <<
				button.left <
			.moveControls




