header tower of hanoi
	.container.rules
		ul
			li move the discs from the left tower to the right tower
			li you may not place a larger disc on top of a smaller disc

.container#gameboard
	.towerContainer#towerOne
	.towerContainer#towerTwo
	.towerContainer#towerThree

.controls
	form#form
		button.reset reset