header tower of hanoi
	.container.rules
		ul
			li move all the pieces from the left tower to the right tower
			li you may not place a larger piece on top of a smaller piece

.controls
	form#form
		button.reset reset

.container#gameboard
	.towerContainer#towerOne
	.towerContainer#towerTwo
	.towerContainer#towerThree
	

.container
	.row
		.buttonHouse
			.moveControls
			.moveControls
				button.right >
				button.end >>
			.moveControls
				button.start <
				button.end >
			.moveControls
				button.start <<
				button.left <
			.moveControls




