header Towers of Hanoi!

.container.rules
	p
		ul
			li Move all the pieces from Tower 1 to Tower 3
			li You may not place a larger piece on top of a smaller piece

.container.gameboard
	.row
		.col-4.pole.startPole 
			.ringOne
			.ringTwo
			.ringThree
		.col-4.pole.midPole 
		.col-4.pole.endPole 
	.row
		.col-12.base
			.towerBase 
				.text 1
				.text 2
				.text 3

